node_modules
/dist
/coverage
/.nx
/.angular
.vscode/*
!.vscode/launch.json
/.vscode/*.log
npm-debug.log*
yarn-error.log*
pnpm-error.log*
.env*
!.env.sample
.DS_Store
.idea
*.iml
/apps/*/public/*.ico
/tmp
/out
/target
/.gradle
.gradle
**/build/
**/gradle-app.setting
**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar
**/node_modules/
**/.angular/cache
